
/* Layout container */
.admin-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}/* Admin Layout Styles */
.admin_layout_container {
  display: flex;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-family: "Inter", sans-serif;
}


/* Navbar stays fixed at top */
.admin-nav {
    color: white;
}

/* Scrollable content */
.admin-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #ecf0f1;
}