/* Layout container */
.member-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}



/* Scrollable content */
.member-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #ecf0f1;
}